<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>文档标题</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>


<body>
<div>
    <div class="container">
        <div class="page__bd">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">URL</label>
                    </div>
                    <div>
                        <input id="url" class="weui-input" type="text" placeholder="请输入url">
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">Location</label>
                    </div>
                    <div class="weui-cell__hd">
                        <select id="location" class="weui-select" name="operation_type">
                        </select>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">输入参数</label>
                    </div>
                    <div>
                        <input id="input_param" class="weui-input" type="text" placeholder="输入参数">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">输出参数</label>
                    </div>
                    <div>
                        <input id="output_param" class="weui-input" type="text" placeholder="输出参数">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <label class="weui-label">支持回调</label>
                    </div>
                    <div class="weui-cell__ft">
                        <input id="call_back" type="checkbox" class="weui-switch">
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">操作类型</label>
                    </div>
                    <div class="weui-cell__hd">
                        <select id="operation" class="weui-select" name="operation_type">
                        </select>
                    </div>
                </div>

                <a class="weui-btn weui-btn_primary" onclick="submitParams()">提交</a>
            </div>
        </div>

    </div>
</div>


<script src="../js/jquery/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>

<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
<script>
    $(document).ready(function(){
        jQuery.ajax({
            type: 'GET',
            url: '/demo/home/info.do',
            cache: false,
            contentType: false,
            success: function (data) {
                var locations = string2JsonArray(JSON.stringify(data.locations));
                for (var i=0; i<locations.length; i++) {
                    jQuery('#location').append(
                        '<option value="' + locations[i].value + '">' + locations[i].desc + '</option>'
                    );
                }

                var operations = string2JsonArray(JSON.stringify(data.operations));
                for (var i=0; i<locations.length; i++) {
                    jQuery('#operation').append(
                        '<option value="' + operations[i].value + '">' + operations[i].desc + '</option>'
                    );
                }

                jQuery('#location').val(1);
                jQuery('#operation').val(1);
            }
        });
    });
    
    function submitParams() {
        // var formdata = new FormData();
        // formdata.append("url", jQuery("#url").val());
        // formdata.append("location", jQuery("#location").val());
        // formdata.append("input", jQuery("#input_param").val());
        // formdata.append("output", jQuery("#output_param").val());
        // formdata.append("callBack", jQuery("#call_back").val());
        // formdata.append("operation", jQuery("#operation").val());

        var data = {
            "url": jQuery("#url").val(),
            "location": jQuery("#location").val(),
            "input": jQuery("#input_param").val(),
            "output": jQuery("#output_param").val(),
            "callBack": jQuery("#call_back").val(),
            "operation": jQuery("#operation").val()
        };

        jQuery.ajax({
            type: 'POST',
            url: '/demo/home/check.do',
            data: data,
            dataType: 'json',
            success: function (data) {
               alert(JSON.stringify(data));
            }
        });
    }

    function string2JsonArray(s) {
        // [的位置
        var sBeginIndex = s.indexOf("[");
        // ]的位置
        var sEndIndex = s.indexOf("]");
        if (sBeginIndex == -1 || sEndIndex == -1) return null;
        // 最后逗号方便统一处理
        var jastr = s.substring(sBeginIndex + 1, sEndIndex).trim() + ",";
        var sArr = jastr.split("{");  // sArr第一个成员为空
        //
        var joCount = sArr.length - 1;
        var result = new Array(joCount);
        for (var i = 0; i < joCount; i++) {
            // 最后,号的位置
            var cIndex = sArr[i + 1].lastIndexOf(",");
            result[i] = JSON.parse("{" + sArr[i + 1].substring(0, cIndex));
        }
        //
        return result;
    }
</script>

</body>
</html>